html
  head
    title colin.kinlo.ch
    link(rel="stylesheet" href="style.css")
    link(rel="prefetch" type="application/json" href="SuperMurdoch.gltf")
    link(rel="prefetch" type="application/octet-stream" href="SuperMurdoch.bin")
  body
    canvas(id="main")
    .content
      //-
        h1 hello and, welcome to colins personal web-page on the inter-net.
        p Full spectrum cyber.
        p Please do not steal.
    .foot
      a(href="http://colin.kinlo.ch") colin
      span ®
      span(id="year")
    script(src="index.js")
