html
  head
    title colin.kinlo.ch
    link(rel="stylesheet" href="style.css")
  body
    canvas.full.back#main
    header.front
      h1 Colin Kinloch
      nav
        a(href="#cv/pdf")
          span cv
        a(href="#portfolio")
          span portfolio
    .content.mid
      article.doc.a4.cv
        section
          h1 Colin Kinloch MSc
          p Quick learner suited to an agile development environment. A fast problem solver with an aptitude for research who is exited by JavaScript development and eager to learn.
        section
          h2 Qualifications
          ul
            li MSc Computer Science
            li BSc Computing and Mathematics
      .cv-pdf
        object(data="ColinKinloch.pdf" type="application/pdf")
          a(href="ColinKinloch.pdf") CV pdf
      .stuff
        p content
        p more content
        p and content
        p more content
        p and content
        p more content
        p and content
        p more content
        p and content
        p more content
        p and content
        p more content
    script(src="index.js")
