html
  head
    title Colin Kinloch
    link(rel="stylesheet" href="style.css")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico")
  body
    canvas.full.back#main
    header.front.fixed
      h1 Colin Kinloch
      nav.main
        a(href="#cv/pdf")
          span cv
        a(href="#portfolio")
          span portfolio
      nav.social
        a(href="http://www.github.com/ColinKinloch")
          span.fa.fa-github
        a(href="http://www.linkedin.com/in/ColinKinloch")
          span.fa.fa-linkedin-square
        a(href="http://www.codepen.io/ColinKinloch")
          span.fa.fa-codepen
        a(href="http://www.shadertoy.com/user/ColinKinloch")
          span.fa.fa-eye
        a(href="mailto:colin@kinlo.ch")
          span.fa.fa-envelope
    main.mid
      ol
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
        li hello
      canvas#pdf-canvas
      gh-list(user="ColinKinloch")
      //-
        article.doc.a4.cv
          section
            h1 Colin Kinloch MSc
            p Quick learner suited to an agile development environment. A fast problem solver with an aptitude for research who is exited by JavaScript development and eager to learn.
          section
            h2 Qualifications
            ul
              li MSc Computer Science
              li BSc Computing and Mathematics
      .cv-pdf
        //
          object(data="ColinKinloch.pdf" type="application/pdf")
            a(href="ColinKinloch.pdf") CV pdf
      .gh-list
    script(src="components.js")
    script(src="index.js")
