$bg: black;
$text: gainsboro;
$link: white;

html {
  background: $bg url('test.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $text;
  display: flex;
  font-family: serif;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  color: $link;
}

.fill {
  left: 0;
  position: fixed;
  top: 0;
}

.mid {
  z-index: 2;
}

.back {
  z-index: 1;
}

.front {
  z-index: 3;
}

.content {
  flex: 1;
}
