html {
  height: 100%;
  width: 100%;
  color: gainsboro;
  font-family: serif;
  display: flex;

  background: black url('test.png');
  background-repeat: no-repeat;
  background-position: center;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  color: white;
}

#main {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.content {
  flex: 1;
  z-index: 1;
}

.foot {
  z-index: 3;
}
