$bg: black;
$text: gainsboro;
$link: white;
$head-back: rgba($bg, .6);
$head-height: 42px;

$fa-font-path: './fonts';
@import './node_modules/font-awesome/scss/font-awesome';

html {
  background: $bg url('test.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $text;
  display: flex;
  // font-family: sans;
  font-size: 13pt;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  backdrop-filter: blur(6px);
  background: $head-back;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: $head-height;
  width: 100%;

  h1 {
    align-self: center;
    margin: 0;
    padding: 0 10px;
  }
}

nav {
  align-items: bottom;
  display: flex;
  flex-direction: row;

  font-size: 14pt;
  min-height: 30px;

  &.main {
    flex-grow: 1;
  }

  &.social {
    font-size: 18pt;
  }

  a {
    align-content: center;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    padding: 0 10px;

    &:hover {
      border-bottom-color: $link;
      text-decoration: none;
    }

    * {
      align-self: center;
      display: inline;
    }
  }
}

$doc-colour: black;
$doc-bg: white;

.doc {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;

  &.a4 {
    background-color: $doc-bg;
    color: $doc-colour;
    max-width: 210mm;

    section {
      margin: 16pt;
    }
  }
}

.cv-pdf {
  height: 100%;
  width: 100%;

  object {
    height: inherit;
    width: inherit;
  }
}

gh-list {
  background-color: $head-back;
  bottom: 0;
  position: fixed;
  right: 0;
}

.full {
  left: 0;
  position: fixed;
  top: 0;
}

.fixed {
  position: fixed;
}

.mid {
  z-index: 2;
}

.back {
  z-index: 1;
}

.front {
  z-index: 3;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: $head-height;
  //overflow-y: auto;

  object {
    flex: 1;
  }

  .stuff {
    flex: 1;
    margin: 8px;
  }
}
